.lugares {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lugares__text-container {
  max-width: 80vh;
  display: flex;
  flex-direction: column;
}

.lugares__title {
  width: 100%;
  font-size: 58px;
  line-height: 58px;
}

.lugares__reflexion_container {
  display: flex;
  max-width: 722px;

  flex-direction: column;
}

.lugares__reflexion {
  font-size: 24px;
  line-height: 34px;
}

.lugares__reflexion_margin {
  margin: 0;
}

.lugares__reflexion-autor {
  align-self: flex-end;
}

.lugares__reflexion-autor_margin {
  margin: 0;
}

.lugares__parram {
  font-size: 16px;
  line-height: 26.08px;
  max-width: 722px;
}

.lugares__images-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  margin-top: 5%;
}
